.footer-top
  .footer-top_content
    .footer-top_content-inner
      .footer-top_content-inner-text
        スマホでかんたんフリマアプリ
      .footer-top_content-inner-text2
        今すぐ無料ダウンロード！
      .footer-top_content-inner-icon
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?273499512", width: "68"
        .footer-top_content-inner-icon-app
          %li{class: "icon-phone"}
            = link_to "" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?273499512", width: "133", height: "40"
          %li{class: "icon-phone"}
            = link_to "" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?273499512", width: "133", height: "40"
    %figure{class: "phone"}
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?273499512", width: "300", height: "250"