.wrapper__mypage__container__l-side
  %nav
    %ul.mypage-nav-list
      %li.mypage-nav-list__item-active
        = link_to '' , class: "mypage-nav-list__item-active__link" do
          マイページ
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          お知らせ
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          やることリスト
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          いいね！一覧
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          出品する
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          出品した商品-出品中
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          出品した商品-取引中
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          出品した商品-売却済み
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          購入した商品-取引中
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          購入した商品-過去の取引
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          ニュース一覧
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          評価一覧
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          ガイド
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          お問い合わせ
          = icon "fas", "angle-right"
      %h3.mypage-nav-list__double-header
        メルペイ
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          売上・振込申請
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          ポイント
          = icon "fas", "angle-right"
      %h3.mypage-nav-list__double-header
        設定
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          プロフィール
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          発送元・お届け先住所
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          支払い方法
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          メール/パスワード
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          本人情報
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          電話番号の確認
          = icon "fas", "angle-right"
      %li.mypage-nav-list__item
        = link_to '' , class: "mypage-nav-list__item__link" do
          ログアウト
          = icon "fas", "angle-right"