.wrapper
  = render "header"
  .wrapper__breadcrumb
    - breadcrumb :logout
    = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"
  .identification-content
    .large-content
      .logout-box
        .logout-box__btn
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn-default btn-red"
    =render "sidebar"        
  = render "footer"
  = render "exhibit"    