.sign-up_container
  .sign-up_header
    %h1
      = link_to "" do
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2531475304"}
  .sign-up_main
    .sign-up_main-container
      .sign-up_main-container-head
        会員情報入力
      .sign-up_main-container_registration
        = form_with url: "/users/member", method: :get, local: true do |f|
          .sign-up_main-container_registration-content
            .sign-up_main-container_registration-content-form
              = f.label :nickname do
                ニックネーム
              %span{class: "form-require"}必須
              = f.text_field :nickname, class: "input-default", placeholder: "例)メルカリ"
            .sign-up_main-container_registration-content-form
              = f.label :email do
                メールアドレス
              %span{class: "form-require"}必須
              = f.text_field :email, class: "input-default", placeholder: "PC・携帯どちらでも可"
            .sign-up_main-container_registration-content-form
              = f.label :password do
                パスワード
              %span{class: "form-require"}必須
              = f.text_field :password, class: "input-default", placeholder: "7文字以上"
            .sign-up_main-container_registration-content-form
              = f.label :nickname do
                パスワード(確認)
              %span{class: "form-require"}必須
              = f.text_field :nickname, class: "input-default", placeholder: "7文字以上"
            .sign-up_main-container_registration-content-form
              %h3 本人確認
              %div{class: "form-text"} 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .sign-up_main-container_registration-content-form
              %div
                = f.label :nickname do
                  お名前(全角)
                %span{class: "form-require"}必須
              = f.text_field :nickname, class: "input-default-half", placeholder: "例)山田"
              = f.text_field :nickname, class: "input-default-half", placeholder: "例）彩"
            .sign-up_main-container_registration-content-form
              %div
                = f.label :nickname do
                  お名前カナ(全角)
                %span{class: "form-require"}必須
              = f.text_field :nickname, class: "input-default-half", placeholder: "例)ヤマダ"
              = f.text_field :nickname, class: "input-default-half", placeholder: "例)アヤ"
            .sign-up_main-container_registration-content-form
              = f.label :nickname do
                生年月日
              %span{class: "form-require"}必須
              .birthday-select
                .birthday-select-wrap
                  = fa_icon "angle-down 2x", class: "icon"
                  = f.select :birthday, ["--", "2019", "2018", "2017", "2016", "2015"], { class: "select" }
                %span 年
                .birthday-select-wrap{class: "birthday-select-wrap_month"}
                  = fa_icon "angle-down 2x", class: "icon"
                  = f.select :birthday, ["--", "1", "2", "3", "4", "5", "6", "7"], { class: "select" }
                %span 月
                .birthday-select-wrap{class: "birthday-select-wrap_day"}
                  = fa_icon "angle-down 2x", class: "icon"
                  = f.select :birthday, ["--", "1", "2", "3", "4", "5", "6", "7"], { class: "select" }
                %span 日
            .sign-up_main-container_registration-content-form-text
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .sign-up_main-container_registration-content
            .sign-up_main-container_registration-content-form
              .sign-up_main-container_registration-content-form-text-center
                「次へ進む」のボタンを押すことにより、
                = link_to "", class: "form-text-blue" do
                  利用規約
                に同意したものとみなします
            = f.submit "次へ進む", class: "submit-btn"
            .sign-up_main-container_registration-content-form
              %p
                = link_to "", class: "form-text-blue" do
                  本人情報の登録について
                  = fa_icon "arrow-right"
