.wrapper
  = render "header"
  .wrapper__breadcrumb
    - breadcrumb :mypage
    = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"
  .wrapper__mypage
    .wrapper__mypage__container
      %section.wrapper__mypage__container__image
        = link_to '' do
          %figure
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", alt: "画像"
          %h2.bold karioki
          .wrapper__mypage__container__image__number
            %div
              評価
              %span.bold
                = "karioki"
            %div
              出品数
              %span.bold
                = "karioki"
      %section.wrapper__mypage__container__info
        %ul.wrapper__mypage__container__info__tabs
          %li.active-tab
            %h3
              = link_to 'お知らせ', id: "mypage-tab-notification"
          %li.non-active-tab
            %h3
              = link_to 'やることリスト', id: "mypage-tab-todo"
        .wrapper__mypage__container__info__tab-content
          %ul.wrapper__mypage__container__info__tab-content__itemlist#mypage-tab-notification
            %li.wrapper__mypage__container__info__tab-content__itemlist__item
              = link_to '' do
                %figure
                  = image_tag "//static.mercdn.net/images/mercari_profile.png"
                .wrapper__mypage__container__info__tab-content__itemlist__item__body
                  .wrapper__mypage__container__info__tab-content__itemlist__item__body__text
                    ここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキスト
                  %time
                    %i.fa.fa-clock-o
                    = "時間"
                = icon "fas", "angle-right"
            %li.wrapper__mypage__container__info__tab-content__itemlist__go-mypage
              = link_to '一覧を見る', id: "mypage-tab-notification"
      %section.wrapper__mypage__container__purchased
        %h2.wrapper__mypage__container__purchased__head
          購入した商品
        %ul.wrapper__mypage__container__purchased__tabs
          %li.active-tab
            %h3
              = link_to '取引中', id: "mypage-tab-transaction-now"
          %li.non-active-tab
            %h3
              = link_to '過去の取引', id: "mypage-tab-transaction-past"
        .wrapper__mypage__container__purchased__transaction
          %figure.wrapper__mypage__container__purchased__transaction__pane
            = image_tag "https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?29550023", alt: "画像"
          %h3.wrapper__mypage__container__purchased__transaction__not-found
            取引中の商品がありません 
    =render "sidebar"
  = render "footer"
  = render "exhibit"