.footer
  .footer-top
    .footer-top_content
      .footer-top_content-inner
        .footer-top_content-inner-text
          スマホでかんたんフリマアプリ
        .footer-top_content-inner-text2
          今すぐ無料ダウンロード！
        .footer-top_content-inner-icon
          %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?273499512", width: "68"}
          .footer-top_content-inner-icon-app
            %li{class: "icon-phone"}
              = link_to "" do
                %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?273499512", width: "133", height: "40"}
            %li{class: "icon-phone"}
              = link_to "" do
                %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?273499512", width: "133", height: "40"}
      %figure{class: "phone"}
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?273499512", width: "300", height: "250"}
  .footer-bottom
    .footer-bottom_head
      .footer-bottom_head_cell
        %h2{class: "footer-cell"}
          メルカリについて
        %ul
          %li
            = link_to "", class: "cell" do
              会社概要(運営会社)
          %li
            = link_to "", class: "cell" do
              採用情報
          %li
            = link_to "", class: "cell" do
              プレリリース
          %li
            = link_to "", class: "cell" do
              公式ブログ
          %li
            = link_to "", class: "cell" do
              メルカリロゴ利用ライン
          .footer-bottom_head_cell-link
            = link_to "" do
              = fa_icon "twitter", class: "icon"
          .footer-bottom_head_cell-link
            = link_to "" do
              = fa_icon "facebook", class: "icon"
      .footer-bottom_head_cell
        %h2{class: "footer-cell"}
          ヘルプ＆ガイド
        %ul
          %li
            = link_to "", class: "cell" do
              メルカリガイド
          %li
            = link_to "", class: "cell" do
              らくらくメルカリ便
          %li
            = link_to "", class: "cell" do
              ゆうゆうメルカリ便
          %li
            = link_to "", class: "cell" do
              大型メルカリ便
          %li
            = link_to "", class: "cell" do
              車体取引ガイド
          %li
            = link_to "", class: "cell" do
              メルカリあんしん・あんぜん宣言！
          %li
            = link_to "", class: "cell" do
              偽ブランド品撲滅への取り組み
          %li
            = link_to "", class: "cell" do
              メルカリボックス
      .footer-bottom_head_cell-width
        %h2{class: "footer-cell"}
          プライバシーと利用規約
        .footer-bottom_head_cell-width-inner
          %ul
            %li
              = link_to "", class: "cell" do
                プライバシーポリシー
            %li
              = link_to "", class: "cell" do
                メルカリ利用規約
            %li
              = link_to "", class: "cell" do
                あんしんスマホサポート制度に関する利用特約
            %li
              = link_to "", class: "cell" do
                コンプライアンスポリシー
          %ul
            %li
              = link_to "", class: "cell" do
                個人データの安全管理に係る基本方針
            %li
              = link_to "", class: "cell" do
                特定商取引に関する表記
            %li
              = link_to "", class: "cell" do
                資金決済法に基づく表示
            %li
              = link_to "", class: "cell" do
                法令順守と犯罪抑止のために
      .footer-bottom_head_cell-country
        %h2{class: "footer-cell"}
          国
        %ul
          %li
            = link_to "", class: "cell" do
              日本
          %li
            = link_to "", class: "cell" do
              United States
    .footer-bottom_under
      = link_to "" do
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?273499512"}
      .footer-bottom_under-right
        © 2019 Mercari