-@products.each do |product|
  .products_contain_item-box
    = link_to product_path(product), class: "link" do
      .products_contain_item-box-image
        = image_tag product.images[0].image.url
      .products_contain_item-box-body
        .products_contain_item-box-body-name
          = product.name
        .products_contain_item-box-body-under
          .products_contain_item-box-body-under-price
            = "¥#{product.price}"
          .products_contain_item-box-body-under-likes
            = icon "fas",'heart'
            1