%header
= render "users/header"

.item
  .item__show
    .item__show_name 
      = @product.name
    .item__show_main
      .item__show_main-photo
        = image_tag @image.image.url, size: "280x280"
      %table.item__show_main-table
        %tbody
          %tr
            %th 
              出品者
            %td
              = link_to "", class: "link_blue" do
                = @seller.nickname
              .ratebox
                .ratings
                  = icon "fas",'smile',class: "smile"
                  %span (^^)
                .ratings
                  = icon "fas", 'meh',class: "meh"
                  %span (;;)
                .ratings
                  = icon 'fas', "angry", class: "angry"
                  %span ('ω')
          %tr
            %th カテゴリー
            %td.category
              = link_to "", class: "link_blue" do
                %div 
                = ">#{@category.parent.parent.name}"
              = link_to "", class: "link_blue" do
                %div 
                = ">#{@category.parent.name}"
              = link_to "", class: "link_blue" do
                %div 
                = ">#{@category.name}"
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品の状態
            %td 
              = @product.status
          %tr
            %th 配送料の負担
            %td
              = @product.delivery_price
          %tr
            %th 配送の方法
            %td 
              = @product.delivery_way
          %tr
            %th 配送元地域
            %td
              = link_to "", class: "link_blue" do
                = @product.prefecture
          %tr
            %th 発送日の目安
            %td
              = @product.scheduled
    .item__show_price
      %span.price 
        = @product.price
      %span.tax (税込)
      %span.fee 送料込み
    .item__show_btn
      = link_to "" do
        購入画面に進む
    .item__show_text
      %p.text
        = @product.text
    .item__show_rate
      .left
        %button.left_button
          = icon "fa-heart", class: "like"
          %span いいね！
          %span.amount 0
        .report_button
          = link_to "" do
            = icon "fa-flag", class: "flag"
            %span 不適切な商品の報告
      .right
        = link_to "" do
          = icon "fa-lock", class: "lock"
          %span あんしん・あんぜんへの取り組み
  .item__comments
    .content
      %form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = text_area_tag "text"
        %button
          %span コメントする
  - if current_user.id == @seller.id
    = link_to edit_product_path do
      %button.btn 商品の編集
  %ul.next
    %li.link-preview
      = link_to "", class: "link_blue" do
        = icon "fa-arrow-left", class: "left"
        路傍の石
    %li.link-next
      = link_to "", class: "link_blue" do
        = icon "fa-arrow-right", class: "right"
        岩
  .item__media
    .content
    %ul.media_box
      %li
        = link_to "" do
          = icon "fab", "facebook", class: "facebook"
      %li
        = link_to "" do
          = icon "fab", "twitter", class: "twitter"
      %li
        = link_to "" do
          = icon "fab", "line", class: "line"
      %li
        = link_to "" do
          = icon "fab", "pinterest", class: "pinterest"
  .item__user
    %section
      .box-head
        = link_to "", class: "link_blue" do
          = "#{@seller.nickname}さんのその他の出品"
      .items-box
        = render "products"
        = render "products"
        = render "products"
    %section
      .box-head
        = link_to "", class: "link_blue"do
          = "#{@category.parent.parent.name}(#{@category.name})その他の商品"
      .items-box
        = render "products"
        = render "products"
        = render "products"    
  %nav.bottom
    %ul
      %li
        = link_to "" do
          %span メルカリ
        = icon "fas", "arrow-right",class: "arrow-right"  
      %li 
        %span
          = @product.name
%banner
= render "users/footer"